@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography */

body {
  font-family: var(--font-nunito);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bebas);
}

.link {
  @apply text-gray-600 hover:text-orange-600 transition;
}

/* Navigation */

details summary svg {
  transform: rotate(90deg);
}

details[open] > summary {
  text-decoration: underline;
}

details[open] > summary svg {
  transform: rotate(-90deg);
}

details svg {
  transition: all 0.3s ease-in-out;
}
